<div class="bg-all">
    <div class="header">
        <div id="content">
            <button id="home" routerLink='home' routerLinkActive='selected'>INICIO</button>
            <button id="about" routerLink='about' routerLinkActive='selected'>SOBRE</button>
            <button id="contact">CONTATO</button>
        </div>
    </div>

    <div class="apresentation">
        <h1>Olá</h1>
        <p>Me chamo <strong>Lucas</strong> e sou desenvolvedor <em>Front-End</em></p>
        <p id="welcome">Bem vindo!</p>
    </div>
    <div class="line">
    </div>
    <div class="main">
        <div id="dev-finance" (click)='redirect.redirectDevFinance()'>
            <div id="text">
                <span>DEV.FINANCE$</span>
            </div>
            <div class="effect"></div>
            <div class="image dev-finances">
                <span id="dev-finances-bg"><img src="../assets/banners/dev-finances.png" alt=""></span>
            </div>
        </div>
        <div id="move-it" (click)='redirect.redirectMoveIt()'>
            <div id="text">
                <span>MOVE.IT</span>
            </div>
            <div class="effect"></div>
            <div class="image move-it">
                <span id="move-it-bg"><img src="../assets/banners/move-it.png" alt=""></span>
            </div>
        </div>
        <div id="happy" (click)='redirect.redirectHappy()'>
            <div id="text">
                <span>HAPPY</span>
            </div>
            <div class="effect"></div>
            <div class="image happy">
                <span id="happy-bg"><img src="../assets/banners/happy.png" alt=""></span>
            </div>
        </div>
    </div>
    <div class="other">
        <div id="spiderman-home-page" (click)='redirect.redirectSpiderMan()'>
            <img src="../assets/banners/spiderman.png" alt="Spider-Man">
        </div>
        <div id="pinterest-ui-clone" (click)='redirect.redirectPinterestClone()'>
            <img src="../assets/banners/pinterest.png" alt="Pinterest">
        </div>
    </div>
    <div class="line">
    </div>
    <div class="footer ">
        <div class="social-media ">
            <p>Minhas Redes</p>
            <div class="social ">
                <a href="https://github.com/hash-luk "><img src="../assets/icons/github.svg " alt="Github "></a>
                <a href="https://www.linkedin.com/in/lucas-patrick-p "><img src="../assets/icons/linkedin.svg " alt="LinkedIn "></a>
                <a href="https://stackoverflow.com/users/15900848/lucas-patrick "><img src="../assets/icons/stackoverflow.svg " alt="StackOverFlow "></a>
                <a href="https://instagram.com/lucasz_slw "><img src="../assets/icons/instagram.svg " alt="Instagram "></a>
            </div>
        </div>
        <p>Developed with ❤ by Lucas</p>
    </div>
</div>